@import url(../runo/styles.css);


.v-app {
	background: #fff;
	}


/** Customized phase colors*/


/**
 * Green 
 */

/* For month view */
.v-calendar .v-calendar-event-color1 {
	color: 	 #C6F266;
	}
.v-calendar .v-calendar-event-color1-all-day {
	background-color: 	 	 #2BA632;
	}

/* For week/day view */
.v-calendar .v-calendar-event-color1 .v-calendar-event-caption {
	color: 	 	 #77A632;
	}
.v-calendar .v-calendar-event-color1 .v-calendar-event-content {
	border-color: #77A632;
	background-color: 	 #C6F266;
	}


/**
 * Blue 
 */

/* For month view */
.v-calendar .v-calendar-event-color2 {
	color: #1c4b8b;
	}
.v-calendar .v-calendar-event-color2-all-day {
	background-color: #0a56bc;
	}

/* For week/day view */
.v-calendar .v-calendar-event-color2 .v-calendar-event-caption {
	color: #1c4b8b;
	}
.v-calendar .v-calendar-event-color2 .v-calendar-event-content {
	border-color: #0a56bc;
	background-color: #529bff;
	}


/**
 * Red 
 */

/* For month view */
.v-calendar .v-calendar-event-color3 {
	color: #831d1d;
	}
.v-calendar .v-calendar-event-color3-all-day {
	background-color: #bd1a1a;
	}

/* For week/day view */
.v-calendar .v-calendar-event-color3 .v-calendar-event-caption {
	color: #831d1d;
	}
.v-calendar .v-calendar-event-color3 .v-calendar-event-content {
	border-color: #bd1a1a;
	background-color: #ff9d9d;
	}


/**
 * Orange 
 */

/* For month view */
.v-calendar .v-calendar-event-color4 {
	color: #BF2424;
	background-image: url("img/java.png ");
	
	}
.v-calendar .v-calendar-event-color4-all-day {
	background-color: #cd6a00;
	
	}

/* For week/day view */
.v-calendar .v-calendar-event-color4 .v-calendar-event-caption {
	color: #BF2424;
	}
.v-calendar .v-calendar-event-color4 .v-calendar-event-content {
	border-color: #cd6a00;
	background-color: #F24C27;
	background-image: url("img/java.png ");
	
	}
	
	.footer-links .v-link-vaadin a {
	background-image: url("img/vaadin-logo.png");
}

.v-app .v-calendar-day-times .v-slot {
	background: url("img/roomc4.png") bottom left ;
	border-bottom: 1px solid #f6f5fa;
}

.v-app .v-calendar-event-caption {
	font-weight: bold;
	font-size:large;
}

.v-app .v-calendar-event-content {
	background: url("img/default-gradient.png") bottom right no-repeat #c5cbd3;
}

/* Icons of the events */
